<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keyword" content="짧고좋은글귀 법륜스님명언 행운을부르는인생명언 워렌버핏명언 짧은명언 짧은명언모음 한국영화명대사모음 인간관계명언 외국영화명대사 공자명언 짧은인생명언 긍정적인명언 인생명언 마크주커버그명언 에디슨명언 로맨스영화명대사 외국영화명대사모음 성공명언 공부명언 영화명대사 일론머스크명언 드라마명대사 사랑명언 사랑글귀 한국영화명대사 명언 명언모음 창의력명언 유명한명언 영화명언 스님명언 주식명언 전쟁명언 지혜 명대사 영화대사 글귀모음 투자명언 좋은글 사업명언 부자명대사 좋은글모음 삶의지혜 명언사이트 사랑문자 격언 스티브잡스명언 하루명언 혁신명언 빌게이츠명언 영화명대사 토이스토리4명대사">
    <meta name="description" content="여러분의 짧고 좋은 글귀, 행운을 부르는 인생 명언을 전해주세요!">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/941c7a3e1f.js"></script>
    <title>Quotes For You</title>
</head>
<body>
    <%- body%>
    <script src="/javascripts/background.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/quotes.js"></script>
    <script src="/javascripts/button.js"></script>
    <script src="/javascripts/letters.js"></script>
</body>
</html>