<div class="help-form">
    <header>
        <h4></h4>
    </header>
        <section>
            <h5 class="question"></h5>
            <h5 class="answer"></h5>
            <div class="paragraph">
                <small class="p_one"></small>
                <br>
                <small class="p_two"></small>
                <br>
                <small class="p_three"></small>
                <br>
                <small class="p_four"></small>
            <div class="caution">
            <small></small>
        </div>
    </section>
    <footer>
        <a class="btn hide help-btn" href="/"><i class="fas fa-backspace"></i></a>
    </footer>
    
</div>